.curriculum {
  width: 100%;
  margin-top: 80px;
  padding: var(--padding);
  display: flex;
  align-items: center;
  position: relative;

  &_text {
    position: absolute;
    top: -30px;
    right: 15vw;
    font-weight: 500;
    line-height: 34px;
    font-size: 17px;
  }



  &_title {
    font-weight: 600;
    font-size: 30px;
    padding: 0 2vw;
    line-height: 58px;
    white-space: nowrap;
  }
  & strong {
    font-weight: 800;
  }



  &_item {
    display: flex;
    margin: 0 2vw;
    gap: 40px;
    flex-wrap: nowrap;
    overflow-x: auto;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }

    &s {
      width: 250px;
      height: 150px;
      border-radius: 20px;
      background-color: #f8f8f8;
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 0 0 auto;



      & h1 {
        font-size: 24px;
        font-weight: 700;
        white-space: nowrap;
      }
    }
  }


  @media screen and (max-width: 768px) {
    & {
      padding: 0 20px;
    }

    &_description {
      & h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 10px;
      }

      & p {
        display: none;
      }
    }
  }
}
