@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-std.css");

:root {
  --black_1: #000000;
  --gray_1: #808080;

  --pading: 0 12.5vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-tap-highlight-color: transparent;
  font-family: 'Pretendard Std', sans-serif;
}

.App {
  width: 100%;
}
