.header {
  width: 100%;
  height: 80px;
  background-color: white;

  position: fixed;
  top: 0;

  padding: var(--padding);
  display: flex;
  align-items:center;

  z-index: 1000;


  &_logo {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 18px;
    z-index: 10000;

    & p {
      font-size: 18px;
      font-weight: 800;
    }
  }

  &_button {
    margin-left: auto;
    width: 30px;
    height: 30px;
    display: none;
  }

  &_show {
    right: 0 !important;
  }

  &_menu {
    transition: 1s;
    width: 100%;

    & ul {
      display: flex;
      justify-content: flex-end;
      gap: 50px;
      font-weight: 700;
      color: var(--black_1);
    }

    @media screen and (max-width: 768px) {
      & {
        position: absolute;
        top: 0 ;
        right: -100%;
        width: auto;
      }

      & ul {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        align-items: center;
        width: 200px;
        justify-content: flex-start;
        font-size: 20px;
        height: 100vh;

        & li {
          border-bottom: solid 2px black;;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    & {
      gap: 2px;
      padding: 0 10vw;
    }
    &_button {
      display: block;
    }


    &_logo {
      width: 35px;
      height: 35px;
      
      & p {
        display: none;

      }
    }
  }
}
